/* Custom stylesheet for as in appearance. Do not use bootstrap CSS files for changes in the design. */

/* Move down content because we have a fixed navbar that is 70px tall */
body {
  padding-top: 70px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Content used for all pages
 */

.row {
  margin-left: -65px;
}
.noTopMargin{
  margin-top: 0 !important;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
    width: 14%;
}


/* Sidebar navigation */

.nav-sidebar {
    margin-right: -21px;
    /* 20px padding + 1px border */
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar>li>a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar>.active>a, .nav-sidebar>.active>a:hover, .nav-sidebar>.active>a:focus {
    color: #fff;
    background-color: #428bca;
}

.patient-info{
  list-style: none;
  padding-left: 0;
  padding-bottom: 25%;
}

/*
 * Main content
 */

.main {
    padding: 20px;
}

.main .page-header {
    margin-top: 0;
}

/*
 * Content for the Current Medication page currentmedication.html
 */

#homeMedicationOutput {
  display: none;
}

#historyContent {
  margin-left: 14%;
  width: 85%;
}

#rawDataCurrentMedication {
	display: none;
}

 /* Table current Medication */
.table-current-medication td, .table-current-medication th {
  border: 1px solid black !important;
  border-spacing: 0 !important;
}

.table-current-medication thead {
  background-color: #eee !important;
}

.table-current-medication tbody {
  background-color: #fff;
}

.table {
  border-spacing: 0 !important;
}
.cmButton {
  margin-top: 0 !important;
  margin-right: 0 !important;
  float: right !important;
}
.cmPageHeader{
  position: relative !important;
  overflow: hidden !important;
  width: 100%;
}
.cmRow{
  max-height: 30vh;

}

/* Button Bar */

.adjustButtons button {
  background-color: #428bca;
  color: #FFF;
  border: none;
  padding: 15px;
  text-align: center;
  display: inline-block;
  margin: 15px 25px 0 0;
}

/* Form adjustmedication */
.table-adjust-medication thead {
  background-color: #eee !important;
}

.table-adjust-medication td, .table-adjust-medication th {
  border: 1px solid black !important;
  border-spacing: 0 !important;
}
.table-adjust-medication{
  margin-bottom: 0 !important;
}
.table-adjust-medication th {
  text-align: center;
  height: 58px;
  vertical-align: middle !important;
}

.table-adjust-medication tr {
  margin: 0;
  padding: 0;
  height: 39.9px !important;
}

.table-adjust-medication input {
  display: block;
  padding: 0;
  margin: 0;
  border: 0;
  width: 100%;
  border-radius: 0;
  line-height: 1;
}

.table-remove-medication th {
  text-align: center;
  height: 58px;
  vertical-align: middle !important;
}

 .table-remove-medication td , .table-remove-medication th {
   border: none !important;
   border-spacing: 0 !important;
 }
/* That weird table for the remove button (Beware ultra cancerous!!) */
.table-remove-medication td{
  padding: 0 !important;
  margin: 0 !important;
  border: 0 !important;
}
.table-remove-medication tr{
  height: 40px !important;
}
.tableFont{
  font-size: 10px;
}

textarea {
  border: 1px solid #c5c5c5;
  border-radius: 3px;
  background-color: #f3f3f3;
  padding-left: 5px;
}

/* Table container from adjustmedication page */
.tableContainer {
  overflow: hidden;
  white-space: nowrap;
  width: auto;
}

/* Fake link at choosepatient page to bamboozle */
.patientList td {
	color: #000000;
}

.patientList td:hover {
    color: #1800f4;
    cursor: pointer;
}

.patientList td:focus {
    color: #1800f4;
}

/* beep beep dumb code to float them tables */
.yeOldeAdjustTable {
  width: 95%;
}

.removeTable {
  width: 5%;
}

.yeOldeAdjustTable, .removeTable {
  display: inline-block;
}



/*
* Content of Medication history page medicationhistory.html
*/
#jsonHistoryData, #jsonHistoryDates {
	display: none;
}

.panel, .flip {
    padding: 5px;
    text-align: center;
    background-color: #eee;
    border: solid 1px #c3c3c3;
}

.flip {
  cursor: pointer;
}

.panel {
    display: none;
    padding: 0;
}

.panel .table {
  margin-bottom: 0;
}


/*
*Start of css used specifically in choosepatinet.html
*/
.cpContainer {
  /*  width:100%;
    height:100%;*/
    top:80px;
    left:0;
    right:0;
    bottom:0;
    position:absolute;

    padding: 5%;
    /*right:0;
    bottom:0;
    left:0;
/*  clip: auto;
  position: absolute;
  overflow: hidden;*/
}
.cpLeftCol {
/*  width: 25%;*/
  height: 100%;
}
.cpRightCol {
/*  width: 75%;*/
  height: 100%;
  padding-left: 5%;
}
.cpScroll{
  height:85%;
  overflow:hidden;
  overflow-y:scroll;
}

/* To make the list of patients in choosepatient.html scrollable*/
.patientList nav, .patientList ul {
  height:auto;
  /*width:25%;*/
}
.cpPageHeader{
  margin-top: 10px;
  margin-left: 3%;
}
.cpTextfield{
  margin-bottom: 5%;
}

/*
*Content for the login page index.html
*/
.loginContainer{
  width: 400px;
  padding: 3%;
  text-align: center;
  margin: 10% auto;
  background-color: #ffffff;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}
.loginBackground{
    background-color: #eee;
}
.loginStyle{
  margin-top: 12%;
  margin-bottom: 8%;
}
.loginButton{
  margin-right: 0px !important;
  margin-top: 12% !important;
}
